@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

$dark: #040b14;
$med: #164577;
$light: #b1ccef;
$white: #f2f7fc;

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: $med;
}

strong {
  color: $med;
}

.link {
  color: $med;
  font-weight: bold;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 $light;
  padding: 0px 1px;
  transition: background 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.link:hover {
  color: $med;
  background: $light;
  text-decoration: none;
}

.btn-primary {
  background-color: $med;
  color: $white;
}

.btn-primary:hover {
  background-color: darken($med, 5%);
}

.navbar-nav {
  .active {
    font-weight: bold;
  }
}

#min_field, #sec_field {
  height: 50%
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-moz-selection {
  background: $light;
}
::selection {
  background: $light;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: $white;
}
::-webkit-scrollbar-thumb {
  background: $med;
}
* {
  scrollbar-width: thin;
  scrollbar-color: $med $white;
}